<div *ngIf="!games || games.length === 0" class="not-found">Nothing found</div>

<div class="card-deck row">
  <div *ngFor="let game of games" class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <img class="card-img-top" src={{game.icon}} alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{game.name}}</h5>
        <p class="card-text">Bundle: {{game.bundle}}</p>
        <p class="card-text">Studio: {{game.studio}}</p>
      </div>
    </div>
  </div>
</div>